@keyframes fadeInUp {
  from {
    transform: translate3d(0, 100%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}