// Button
// ––––––––––––––––––––––––––––––––––––––––––––––––––

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: $color-primary;
	border: .1rem solid $color-primary;
	border-radius: .4rem;
	color: $color-initial;
	cursor: pointer;
	display: inline-block;
	font-size: 1.1rem;
	font-weight: 700;
	height: 3.8rem;
	letter-spacing: .1rem;
	line-height: 3.8rem;
	padding: 0 3.0rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
  white-space: nowrap;
	@include shadow();
	transition: border-color .3s ease, background-color .3s ease;

	&:hover:enabled {
		background-color: $color-quinary;
		border-color: $color-secondary;
		color: $color-secondary;
	}

	&[disabled] {
		cursor: not-allowed;
		opacity: .3;
	}
}
.btn-outline {
	background: $color-initial;
	border-color: $color-quinary;
	color: $color-dark-shadow;
	color: $color-quinary;	
}