// Colors
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-initial:     rgb(255, 255, 255) !default;
$color-primary:     rgb(155, 77, 202)  !default;
$color-secondary:   rgb(96, 108, 118)  !default;
$color-tertiary:    rgb(244, 245, 246) !default;
$color-quaternary:  rgb(209, 209, 209) !default;
$color-quinary:     rgb(225, 225, 225) !default;
$color-dark-shadow: rgba(0,0,0,.175)   !default;