$white:   rgb(255, 255, 255)          !default;
$blue:    rgb(0, 123, 255)            !default;
$indigo:  rgb(104, 104, 150)          !default;
$purple:  rgb(111, 66, 193)           !default;
$pink:    rgb(234, 119, 230)          !default;
$red:     rgba(255, 0, 85, 0.877)     !default;
$orange:  rgb(253, 126, 20)           !default;
$yellow:  rgb(255, 193, 7)            !default;
$green:   rgb(40, 167, 69)            !default;
$teal:    rgb(32, 201, 151)           !default;
$cyan:    rgb(23, 162, 184)           !default;

$violet:        rgba(6, 18, 34, 0.949)      !default;
$darkviolet:    rgb(7, 8, 13)               !default;
$lightviolet:   rgb(137, 115, 215)          !default;
$ightindigo:    rgb(197, 191, 237)          !default;
$lightviolet-1: rgba(139, 118, 216, 0.541)  !default;
$lightping:     rgb(213, 40, 208)           !default;
$violetbody:    rgba(6, 16, 31, 0.824)      !default;
$shade-10:      rgb(44, 62, 80)             !default;
$zero:          rgba(0, 0, 0, 0)            !default;