// Colors
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-initial:     rgb(255, 255, 255) !default;
$color-black:       rgb(0, 0, 0)       !default;
$color-primary:     rgb(40, 143, 151)  !default;
$color-primary-100: rgb(29, 107, 112)  !default;
$color-secondary:   rgb(96, 108, 118)  !default;
$color-tertiary:    rgb(9, 123, 143)   !default;
$color-quaternary:  rgb(222, 222, 222) !default;
$color-quinary:     rgb(77, 77, 77)    !default;
$color-dark-shadow: rgba(0,0,0,.175)   !default;
$color-translucent: rgba(0, 0, 0, 0.041)   !default;
$color-red:         rgb(255, 0, 123)   !default;
