main, .row {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-row-gap: 1%;
}

.dapp-item {
	margin: 30px;
	padding: 10px;
	font-size: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 70px;
  justify-content: center;
	justify-items: center;
	
	border: 1px solid $color-quaternary;
	border-radius: 4px;
	@include shadow();
}
.gas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  & > * {
    margin: 2%;
  }
}
.popup, .send-page {
  justify-items: center;
}
.input-group {
  width: 360px;

  padding-left: 10%;
  padding-right: 10%;
}
label[for=amount] > span, .advance {
  cursor: pointer;
}
.advance {
  font-size: 15px;
  margin-top: 10px;
}