main, .row {
	display: grid;
	justify-content: center;
	align-items: center;
  grid-row-gap: 1%;
}

.dapp-item {
  padding: 20px;
  font-size: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
  width: 330px;
	
	border: 1px solid $color-quaternary;
	border-radius: 4px;
  
  &:hover {
    @include shadow();
  }
}
.gas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  & > * {
    margin: 2%;
  }
}
.popup, .send-page {
  justify-items: center;
}
.input-group {
  width: 360px;

  padding-left: 10%;
  padding-right: 10%;
}
label[for=amount] > span, .advance {
  cursor: pointer;
}
.advance {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 15px;
  margin-top: 10px;
}
.is-mini {
  margin-top: 0;
}
@media screen and (max-width: $nav-max-width) {
  .is-mini {
    margin-top: 100px;
  }
  .back-bar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
  }
}
