@mixin shadow($offset-x:0, $offset-y:1rem, $blur-radius:3rem, $spread-radius:0, $color:$color-dark-shadow) {
  box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
  -moz-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
  -webkit-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
  transition: box-shadow 0.3s ease-in-out;
}
