$item-padding-icons: 3%;

$nav-border-radius: .25rem;
$nav-margin-top: 5%;
$nav-column-gap: 23px;


nav {
  max-width: $nav-max-width;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: $nav-column-gap;
  margin-top: $nav-margin-top;
  border-radius: $nav-border-radius;
}

nav > .left {
  grid-column-start: 1;
  text-align: left;
  padding: $item-padding-icons;
}
nav > .center {
  grid-column-start: 2;
  text-align: center;
}
nav > .right {
  grid-column-start: 3;
  text-align: right;
  padding: $item-padding-icons;
}

.nav-container {
  width: 100%;
}

@media screen and (max-width: $nav-max-width) {
  nav {
    margin-top: 0;
    border-radius: 0;
  }
}
