.vue-tooltip {
    background-color: var(--opacity-bg-element-1);
    box-sizing: border-box;
    color: var(--theme-color-font);
    text-align: center;

    font-family: var(--font-family-light);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1.33594px;

    padding: 2px;

    padding-left: 15px;
    padding-right: 15px;

    border-radius: var(--default-border-radius);
    z-index: 100;
    box-shadow: var(--default-box-shadow);

    transition: none;

    .vue-tooltip-content {
        text-align: center;
    }
    
    .tooltip-arrow {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 5px;
        border-color: transparent;
    }
    
    &[x-placement^="bottom"] {
        margin-top: 5px;
        
        .tooltip-arrow {
            border-width: 0 5px 5px 5px;
            border-bottom-color: var(--opacity-bg-element-1);
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
            top: -5px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}
