.tooltip {
  padding: 1px 10px;
  background: $color-tertiary;
  color: $color-initial;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  font-size: 14px;
  font-family: inherit;
  transform: translateX(-50%);
  z-index: 9999;
  @include shadow();
}
