label {
  font-size: 15px;
}


.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-white {
  color: $color-initial;
}
.text-black {
  color: $color-black;
}
.text-primary {
  color: $color-tertiary;
}