@import "../mixins";

:global(button),
:global(.btn) {
  outline: none;
  border: none;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  white-space: nowrap;
  vertical-align: middle;

  border-color: var(--button-color);
  background: var(--button-color);
  color: var(--primary-color);

  font-family: Demi;

  font-size: 16px;
  line-height: 47px;

  width: inherit;

  border-radius: 6px;

  transition: background-color 250ms linear;

  &:hover {
    border-color: var(--primary-color);
    background: var(--primary-color);
    color: var(--background-color);
  }
}

:global(button:disabled) {
  opacity: 0.7;
  cursor: auto;
}

:global(button.primary),
:global(.btn.primary) {
  border-color: var(--primary-color);
  background: var(--primary-color);

  &:hover, &:disabled {
    border-color: var(--button-color);
    background: var(--button-color);
    color: var(--Text-color);
  }
}

:global(button.secondary),
:global(.btn.secondary) {
  border-color: var(--secondary-color);
  background: var(--secondary-color);
  color: var(--background-color);

  &:hover, &:disabled {
    border-color: var(--button-color);
    background: var(--button-color);
    color: var(--Text-color);
  }
}
