@import "../mixins";

:global(input) {
  outline: none;
  border: none;
  font-family: Demi;
  background: var(--card-color);
  color: var(--text-color);
  border: solid 1px var(--card-color);
  border-radius: 8px;
  padding: 0.9rem;
  text-indent: 5px;

  @include fluid-font(320px, 1024px, 13px, 16px);

  width: inherit;
}

:global(input.error) {
  color: var(--danger-color);
  border-color: var(--danger-color);
}

:global(input.loading) {
  cursor: progress;
  background: 
    linear-gradient(0.25turn, transparent, var(--card-color), transparent),
    linear-gradient(var(--background-color), var(--background-color)),
    radial-gradient(38px circle at 19px 19px, var(--background-color) 50%, transparent 51%),
    linear-gradient(var(--background-color), var(--background-color));  
  background-repeat: no-repeat;
  background-size: 315px 250px, 515px 580px, 500px 500px, 537px 24px;
  background-position: -315px 0, 0 0, 0px 190px, 50px 195px; 
  animation: loading 2.5s infinite;
}
