@import "../mixins";

:global(input) {
  outline: none;
  border: none;
  font-family: Demi;
  background: var(--card-color);
  color: var(--text-color);
  border: solid 1px var(--card-color);
  border-radius: 8px;
  padding: 0.9rem;
  text-indent: 5px;

  font-size: 16px;
  line-height: 21px;

  width: inherit;
}

:global(input.error) {
  color: var(--danger-color);
  border-color: var(--danger-color);
}
