:global(select) {
  outline: none;
  width: 100%;
  min-width: 270px;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background: transparent;
}
