@import "./fonts";
@import "./variables";
@import "./mixins";
@import "./theme";
@import "./components/index";

:global(*),
:global(*:after),
:global(*:before) {
  @include box-sizing(border-box);
}

:global(*) {
  user-select: none;
}

:global(body),
:global(html) {
  margin: 0;
  padding: 0;

  min-width: 20rem;
  min-height: 35.5rem;

  background-color: var(--app-background-color);
}

:global(a:link),
:global(a:visited),
:global(a:hover),
:global(a:active) {
  text-decoration: none;
  color: initial;
}

:global(::-webkit-scrollbar) { 
  display: none; 
}
