$light: (
  'Primary': #01B2C9,
  'Secondary': #2F353C,
  'Danger': #FF4233,
  'Muted': #8E8EAE,
  'Warning': #ff6600,
  'Hover': #e7f1ffb0,
  'Success': #2FEB50,

  'Background': #DBE1F9,
  'Modal': #DBE1F9,
  'Border': #C9C9E6,
  'Notification': #8E8EAE,
  'Card': #E7F1FF,
  'Button': #F6F9FF,
  'Text': #32335A
);

$dark: (
  'Primary': #a4bbd5,
  'Secondary': #36498f,
  'Danger': #ff0000,
  'Muted': #6e6e6e,
  'Warning': #FFBF9C,
  'Hover': #45454cbf,
  'Success': #A0D6C6,
  'Modal': #1c1818,

  'Background': #000000,
  'Border': #4C4963,
  'Notification': #2d2b3c,
  'Card': #242424,
  'Button': #2F353C,
  'Text': #f5f5f7
);
