

$breakpoints:  (
  "xs": 25em, // 400px
  "sm": 34em, // 544px
  "md": 48em, // 768px
  "lg": 60em, // 960px
  "xl": 80em, // 1280px
  "xxl": 90em // 1440px
);

$light: (
  'Primary': #01B2C9,
  'Secondary': #2F353C,
  'Background': #DBE1F9,
  'Border': #C9C9E6,
  'Notification': #8E8EAE,
  'Card': #E7F1FF,
  'Button': #F6F9FF,
  'Text': #32335A
);

$dark: (
  'Primary': #00B9B6,
  'Secondary': #2F353C,
  'Background': #09090C,
  'Border': #363942,
  'Notification': #8A8A8F,
  'Card': #18191D,
  'Button': #2F353C,
  'Text': #FFFFFF
);
